body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-heading {
  background-image: url('https://github.com/carlcorsini/wedding/blob/main/src/pics/estefcarl.JPG?raw=true') !important;
  background-size: cover !important;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.opaque {
  background-color:rgba(0, 0, 0, 0.5);
}
